<!DOCTYPE html>
<html>
<head>
  <title>ElasticadCore</title>
  <%= stylesheet_link_tag    "elasticad/application", media: "all" %>
  <%= javascript_include_tag "elasticad/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
